body {
    background: #ecefff;
}

.container {
    padding-top: 50px;
    /* background: red; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    background: #5057ff;
    color: white;
    border-radius: 4px;
}
